[gcode_macro belt_tension]

gcode:

 G28
     ## Disable heaters,motors, and fans
      TURN_OFF_HEATERS 
      M107                    ; turn off part cooling fan
      SET_FAN_SPEED FAN=Rear_Exhaust_fan SPEED=0
      SET_FAN_SPEED FAN=Nevermore_fan SPEED=0
 G1  Z10 F3000                    ;move bed down 10mm
 G1  X125 Y106 F3600              ;move to belt tension position

 M117 HOTEND IN BELT TENSION POISTION
 
 

 #{% endif %}