#####################################################################
#   CLEAN NOZZLE
#####################################################################

[gcode_macro CLEAN_NOZZLE]
description: Move to rear scrubber, perform repeated dog-leg wipes, then lift clear

variable_start_x: 47
variable_start_y: 250
variable_start_z: 1.0

variable_wipe_dist_x: 30
variable_wipe_dist_y: -10

variable_wipe_spd: 50
variable_wipe_count: 4

variable_raise_distance: 10.0

gcode:

    # ---------------------------------------------------------
    # Home if needed
    # ---------------------------------------------------------
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}


    # ---------------------------------------------------------
    # Load macro variables
    # ---------------------------------------------------------
    {% set sx = printer["gcode_macro CLEAN_NOZZLE"].start_x|float %}
    {% set sy = printer["gcode_macro CLEAN_NOZZLE"].start_y|float %}
    {% set sz = printer["gcode_macro CLEAN_NOZZLE"].start_z|float %}

    {% set dx = printer["gcode_macro CLEAN_NOZZLE"].wipe_dist_x|float %}
    {% set dy = printer["gcode_macro CLEAN_NOZZLE"].wipe_dist_y|float %}

    {% set speed = printer["gcode_macro CLEAN_NOZZLE"].wipe_spd|float * 60 %}
    {% set wipes = printer["gcode_macro CLEAN_NOZZLE"].wipe_count|int %}
    {% set lift = printer["gcode_macro CLEAN_NOZZLE"].raise_distance|float %}


    # ---------------------------------------------------------
    # Absolute positioning
    # ---------------------------------------------------------
    G90


    # ---------------------------------------------------------
    # Move above scrubber first
    # ---------------------------------------------------------
    G1 X{sx} Y{sy} F6000
    G1 Z{sz} F1500


    # ---------------------------------------------------------
    # Repeated dog-leg wipe
    #
    # Start:
    # X47 Y250
    #
    # Forward:
    # X77
    #
    # Dog leg:
    # Y240
    #
    # Return:
    # X47
    #
    # Return Y:
    # Y250
    # ---------------------------------------------------------
    {% for i in range(wipes) %}

        G1 X{sx + dx} F{speed}
        G1 Y{sy + dy} F{speed}
        G1 X{sx} F{speed}
        G1 Y{sy} F{speed}

    {% endfor %}


    # ---------------------------------------------------------
    # Lift nozzle clear of scrubber
    # Relative Z lift prevents accidental absolute Z move
    # ---------------------------------------------------------
    G91
    G1 Z{lift} F1500
    G90