#####################################################################
#   CLEAN NOZZLE
#####################################################################

[gcode_macro CLEAN_NOZZLE]
description: Heat and purge over bucket, then scrub nozzle clean

variable_start_x: 92.50
variable_start_y: 357.10
variable_start_z: 1.00

variable_wipe_dist_x: 30.0
variable_wipe_speed: 50
variable_wipe_count: 5

variable_raise_distance: 10.0

gcode:

    {% set macro = printer["gcode_macro CLEAN_NOZZLE"] %}

    {% set sx = macro.start_x|float %}
    {% set sy = macro.start_y|float %}
    {% set sz = macro.start_z|float %}

    {% set dx = macro.wipe_dist_x|float %}
    {% set speed = macro.wipe_speed|float * 60 %}
    {% set wipes = macro.wipe_count|int %}
    {% set lift = macro.raise_distance|float %}

    {% set clean_temp = params.TEMP|default(printer.extruder.target)|float %}


    # ---------------------------------------------------------
    # Home if necessary
    # ---------------------------------------------------------
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}


    # ---------------------------------------------------------
    # Heat + purge over bucket first
    # ---------------------------------------------------------
    PURGE_NOZZLE TEMP={clean_temp}


    # ---------------------------------------------------------
    # Lift clear of purge bucket
    # ---------------------------------------------------------
    G91
    G1 Z5 F1200
    G90


    # ---------------------------------------------------------
    # Move to brush
    # ---------------------------------------------------------
    SET_DISPLAY_TEXT MSG="Moving to Brush"

    G1 X{sx} Y{sy} F6000
    G1 Z{sz} F1200


    # ---------------------------------------------------------
    # Scrub nozzle
    #
    # X92.5 <-> X122.5
    # Y357.1
    # ---------------------------------------------------------
    SET_DISPLAY_TEXT MSG="Cleaning Nozzle"

    {% for i in range(wipes) %}
        G1 X{sx + dx} F{speed}
        G1 X{sx} F{speed}
    {% endfor %}


    # ---------------------------------------------------------
    # Finish at starting edge
    # ---------------------------------------------------------
    G1 X{sx} F{speed}


    # ---------------------------------------------------------
    # Lift clear of brush
    # ---------------------------------------------------------
    G91
    G1 Z{lift} F1500
    G90

    SET_DISPLAY_TEXT MSG="Nozzle Clean"
    RESPOND TYPE=echo MSG="Nozzle purge and cleaning complete"
