#####################################################################
#   KLIPPER LED EFFECTS - GRBW_LED_Strips
#####################################################################

# ---------------------------------------------------------
# READY - Soft white breathing
# ---------------------------------------------------------
[led_effect ready_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    breathing 4 0 top (0.0, 0.0, 0.0, 0.70)


# ---------------------------------------------------------
# HEATING - Red/orange breathing
# ---------------------------------------------------------
[led_effect heating_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    breathing 2 0 top (1.0, 0.05, 0.0, 0.0)


# ---------------------------------------------------------
# HOMING - Moving blue gradient
# ---------------------------------------------------------
[led_effect homing_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    chase 0.7 0 top (0.0, 0.0, 1.0, 0.0),(0.0, 0.15, 0.5, 0.0),(0.0, 0.0, 0.0, 0.0)


# ---------------------------------------------------------
# LEVELING / Z-TILT - Cyan chase
# ---------------------------------------------------------
[led_effect leveling_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    chase 0.8 0 top (0.0, 0.8, 1.0, 0.0),(0.0, 0.1, 0.25, 0.0),(0.0, 0.0, 0.0, 0.0)


# ---------------------------------------------------------
# MESHING - Blue/cyan breathing
# ---------------------------------------------------------
[led_effect meshing_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    breathing 1.5 0 top (0.0, 0.25, 1.0, 0.0),(0.0, 0.8, 1.0, 0.0)


# ---------------------------------------------------------
# CLEANING - Purple chase
# ---------------------------------------------------------
[led_effect cleaning_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    chase 0.6 0 top (0.75, 0.0, 1.0, 0.0),(0.2, 0.0, 0.4, 0.0),(0.0, 0.0, 0.0, 0.0)


# ---------------------------------------------------------
# PRINTING - Bright neutral white
# ---------------------------------------------------------
[led_effect printing_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    static 0 0 top (0.0, 0.0, 0.0, 0.85)


# ---------------------------------------------------------
# COMPLETE - Green breathing
# ---------------------------------------------------------
[led_effect complete_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    breathing 2 0 top (0.0, 1.0, 0.0, 0.0)


# ---------------------------------------------------------
# ERROR - Red strobe
# ---------------------------------------------------------
[led_effect error_effect]
autostart: false
frame_rate: 24
leds:
    neopixel:GRBW_LED_Strips
layers:
    strobe 2 1.5 top (1.0, 0.0, 0.0, 0.0)