[gcode_macro PRIMING]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        { action_raise_error("Please home your axes!") }
    {% endif %}

    SAVE_GCODE_STATE NAME=PRIMING_STATE
    SET_DISPLAY_TEXT MSG="Hotend priming"
    M117 Priming

    M106 S255
    CLEAN
    G90
    M83

    G1 Z10 F3000
    G1 X15 Y5 F15000
    G1 Z0.3 F3000

    G1 E20 F300
    G1 Z2.0 E15 F600
    G1 Z4.0 E10 F900
    G1 Z2.0 E5 F1200
    G1 Z10 E-0.5 F4500

    G91
    G1 Y63 Z-18.25 F3000
    G1 Y10 F3000
    G1 Y-10 F3000
    G1 Y10 F3000
    G1 Y-10 F3000
    G1 Y-63 F4500

    M107
    G1 Z2.0 F4000
    G1 Y63 F7000

    G90
    G92 E0
    SET_DISPLAY_TEXT MSG="Priming completed"
    M117 Priming completed
    RESTORE_GCODE_STATE NAME=PRIMING_STATE
    #------------------------------------------------------------------------

[gcode_macro CLEAN]
gcode:
    SAVE_GCODE_STATE NAME=CLEAN_STATE
    G90
    M204 S6000
    G1 X15 Y35 F15000
    G1 Z0.5 F4000
    G1 Y1 F10000
    RESTORE_GCODE_STATE NAME=CLEAN_STATE
    #--------------------------------------------------------------------------


   ## Save the gcode state in this macro instance.
     SET_DISPLAY_TEXT MSG="Priming completed and the poop bin filled"             # Displays info
      M117 Priming completed                           
     
    
      ## Restore the gcode state to how it was before the macro.
      RESTORE_GCODE_STATE NAME=priming
