[gcode_macro PRIMING]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        { action_raise_error("Please home your axes!") }
    {% endif %}

    SAVE_GCODE_STATE NAME=PRIMING_STATE

    SET_DISPLAY_TEXT MSG="Heating for priming"
    M117 Heating nozzle

    ; Wait until nozzle is hot enough
    M109 S170

    SET_DISPLAY_TEXT MSG="Hotend priming"
    M117 Priming

    G90
    M83
    M106 S255

    CLEAN

    ; move to purge start
    G1 Z10 F3000
    G1 X15 Y5 F15000
    G1 Z0.3 F1200

    ; purge
    G1 E20 F300
    G1 Z1.0 E15 F600
    G1 Z2.0 E10 F900
    G1 Z4.0 E5 F1200
    G1 E-0.5 F4500

    ; move to wipe area
    G1 Z10 F3000
    G1 X15 Y68 F12000
    G1 Z2.0 F1500

    ; wipe
    G1 Y58 F3000
    G1 Y68 F3000
    G1 Y58 F3000
    G1 Y68 F3000
    G1 Y5 F7000

    M107
    G1 Z10 F4000

    G92 E0

    SET_DISPLAY_TEXT MSG="Priming completed"
    M117 Priming completed

    RESTORE_GCODE_STATE NAME=PRIMING_STATE


[gcode_macro CLEAN]
gcode:
    SAVE_GCODE_STATE NAME=CLEAN_STATE
    G90
    M204 S6000
    G1 Z10 F3000
    G1 X15 Y35 F15000
    G1 Z0.5 F4000
    G1 Y1 F10000
    G1 Z2.0 F3000
    RESTORE_GCODE_STATE NAME=CLEAN_STATE