[gcode_macro PRIMING]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        { action_raise_error("Please home your axes!") }
    {% endif %}

    {% if printer.extruder.temperature < 170 %}
        { action_raise_error("Hotend is not hot enough to prime!") }
    {% endif %}

    SAVE_GCODE_STATE NAME=PRIMING_STATE
    SET_DISPLAY_TEXT MSG="Hotend priming"
    M117 Priming

    G90
    M83

    CLEAN

    ; move to purge point
    G1 Z8 F1200
    G1 X15 Y5 F3000
    G1 Z0.35 F500

    ; small staged purge
    G1 E8 F150
    G1 Z0.8 E3 F180
    G1 Z1.5 E2 F240
    G1 E-0.5 F900

    ; move to wipe zone
    G1 Z8 F1200
    G1 X15 Y68 F3000
    G1 Z1.8 F500

    ; 5 wipe passes
    G1 Y58 F1500
    G1 Y68 F1500
    G1 Y58 F1500
    G1 Y68 F1500
    G1 Y58 F1500

    G1 Z8 F1200
    G92 E0
    SET_DISPLAY_TEXT MSG="Priming completed"
    M117 Priming completed
    RESTORE_GCODE_STATE NAME=PRIMING_STATE
    
#[gcode_macro CLEAN]
#gcode:
    #SAVE_GCODE_STATE NAME=CLEAN_STATE
    #G90
    #M204 S2500

    ; move to bucket edge / kicker
    #G1 Z8 F1200
    #G1 X15 Y35 F3000
    #G1 Z0.35 F500

    ; slower repeated knock-off passes
    #G1 Y1 F1800
    #G1 Y7 F1200
    #G1 Y1 F1800
    #G1 Y7 F1200
    #G1 Y1 F1800

    #G1 Z2.0 F900
    #RESTORE_GCODE_STATE NAME=CLEAN_STATE
