#####################################################################
#   PURGE AND CLEAN
#####################################################################

[gcode_macro PURGE_AND_CLEAN]
description: Heat and purge into bucket, then scrub nozzle clean

gcode:
    {% set target_temp = params.TEMP|default(printer.extruder.target)|float %}

    SET_DISPLAY_TEXT MSG="Purge + Clean"

    # Move to bucket, heat and purge
    PURGE_NOZZLE TEMP={target_temp}

    # Then scrub nozzle
    CLEAN_NOZZLE

    RESPOND TYPE=echo MSG="Purge and nozzle cleaning complete"