#####################################################################
#   PURGE AND CLEAN
#####################################################################

[gcode_macro PURGE_AND_CLEAN]
description: Heat, purge into bucket, retract, then scrub nozzle clean

gcode:
    {% set target_temp = params.TEMP|default(printer.extruder.target)|float %}
    {% set retract = params.RETRACT|default(1.5)|float %}

    SET_DISPLAY_TEXT MSG="Purge + Clean"

    # Move to bucket, heat and purge
    PURGE_NOZZLE TEMP={target_temp}

    # Retract filament after purge to reduce oozing
    M83
    G1 E-{retract} F1800

    # Then scrub nozzle
    CLEAN_NOZZLE

    RESPOND TYPE=echo MSG="Purge and nozzle cleaning complete"