### Ignore the top. This macro brought to you by Lou Torres....


[gcode_macro service_position]


gcode:
     
   # First, check if the axes are homed. Did this to prevent homing on finished print jobs.
   {% if "xyz" in printer.toolhead.homed_axes %}
 
 
      ## Save the gcode state in this macro instance.
      SAVE_GCODE_STATE NAME=service_position
      SET_DISPLAY_TEXT MSG="SERVICE MODE OPERATION IN PROGRESS"             # Displays info
      M117 PRINTER NOT READY
      
      ## Set to absolute positioning.
      G90

      
      ## Move hotend to rear park position
      #gcode:
      
    {% if printer["gcode_macro status_busy"] != null %}
      status_busy
    {% endif %}
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}

    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  
   {% if printer["gcode_macro status_down"] != null %}
    status_down
    {% endif %}
      
    
      ## Move print bed to service position
      _CLIENT_LINEAR_MOVE Z=225 F=1500
     {% if printer["gcode_macro status_service"] != null %}
    status_service
    {% endif %}
      
      ## Disable heaters,motors, and fans
      TURN_OFF_HEATERS 
      M84                     ; turn off part motors
      M107                    ; turn off part cooling fan
     SET_FAN_SPEED FAN=Rear_Exhaust_fan SPEED=0
     SET_FAN_SPEED FAN=Nevermore_fan SPEED=0
     
     ## Save the gcode state in this macro instance.
     SET_DISPLAY_TEXT MSG="SERVICE OPERATION COMPLETED"             # Displays info
      M117 PRINTER READY FOR SERVICE POWER OFF                            
     
     ## Turn off nozzle leds
     set_nozzle_leds_off
      
      ## Restore the gcode state to how it was before the macro.
      RESTORE_GCODE_STATE NAME=service_position

   {% else %}

      ## raise error will stop any macros that clean_nozzle is referenced in from proceeding for safety.
      { action_raise_error("Please home your axes!") }
      M117 Please home first!
 
 
   {% endif %}