### Ignore the top. This macro brought to you by Lou Torres....

[gcode_macro service_position]
gcode:

    # Prevent operation unless all axes are homed.
    {% if "xyz" in printer.toolhead.homed_axes %}

        SAVE_GCODE_STATE NAME=service_position
        SET_DISPLAY_TEXT MSG="SERVICE MODE OPERATION IN PROGRESS"
        M117 PRINTER NOT READY

        # Use absolute positioning.
        G90

        {% if printer["gcode_macro status_busy"] != null %}
            status_busy
        {% endif %}

        {% set th = printer.toolhead %}
        {% set service_z = [225.0, th.axis_maximum.z - 2.0] | min %}

        # Move hotend to the rear-center position.
        G0 X{th.axis_maximum.x / 2.0} Y{th.axis_maximum.y - 2.0} F3600

        {% if printer["gcode_macro status_down"] != null %}
            status_down
        {% endif %}

        # Move the bed to a safe absolute service position.
        G0 Z{service_z} F1500

        {% if printer["gcode_macro status_service"] != null %}
            status_service
        {% endif %}

        # Disable heaters, motors, and fans.
        TURN_OFF_HEATERS
        M107
        SET_FAN_SPEED FAN=Rear_Exhaust_fan SPEED=0
        SET_FAN_SPEED FAN=Nevermore_fan SPEED=0

        SET_DISPLAY_TEXT MSG="SERVICE OPERATION COMPLETED"
        M117 PRINTER READY FOR SERVICE POWER OFF

        set_nozzle_leds_off

        # Restore positioning mode without moving back to the saved location.
        RESTORE_GCODE_STATE NAME=service_position MOVE=0

        # Disable motors last.
        M84

    {% else %}

        M117 Please home first!
        {action_raise_error("Please home your axes!")}

    {% endif %}