
[gcode_macro INPUT_SHAPER]
description: Run input-shaper calibration
gcode:
    G28

    # Disable heaters and manually controlled fans
    TURN_OFF_HEATERS
    M107
    SET_FAN_SPEED FAN=Rear_Exhaust_fan SPEED=0
    SET_FAN_SPEED FAN=Nevermore_fan SPEED=0

    M117 CHECKING ACCELEROMETER
    ACCELEROMETER_QUERY

    M117 MEASURING NOISE
    MEASURE_AXES_NOISE

    M117 CALIBRATING INPUT SHAPER
    SHAPER_CALIBRATE

    M117 INPUT SHAPER COMPLETE
    SAVE_CONFIG
    
 #{% endif %}