
[gcode_macro input_shaper]

gcode:

 G28
     ## Disable heaters,motors, and fans
      TURN_OFF_HEATERS 
      M107                    ; turn off part cooling fan
      SET_FAN_SPEED FAN=Rear_Exhaust_fan SPEED=0
      SET_FAN_SPEED FAN=Nevermore_fan SPEED=0
     
 ACCELEROMETER_QUERY
 
 MEASURE_AXES_NOISE
 
 SHAPER_CALIBRATE

 M117 INPUT SHAPER COMPLETE
 
 SAVE_CONFIG
 
 

 #{% endif %}